@import url('https://fonts.googleapis.com/css2?family=Moul&display=swap');
.logo {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  img {
    width: 60%;
  }
}
.title {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  h2 {
    font-family: 'Moul', cursive;
    font-size: 30px;
  }
  p {
    font-family: 'Noto Serif Khmer', serif;
    font-size: 20px;
  }
}
.schedule {
  margin: 3rem;
}
.profile {
  display: flex;
  justify-content: center;

  img {
    width: 80%;
    margin-top: 2rem;
    border-radius: 5px;
  }
}
